.section {
  background: aliceblue;
  height: calc(100vh - 78px);
  display: flex;

  &::before {
    content: "";
    background: url(/bg.jpeg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    /* z-index: -1; */
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .formContainer {
    div {
      margin-top: 10px;
    }
    padding: 30px;
    background: #fdc375;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
    .logo {
      margin-top: -10px;
      font-size: 40px;
      text-align: center;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    input {
      padding: 30px;
      padding: 10px 15px;
      border-radius: 8px;
      border: none;
      outline: none;
      font-size: 20px;
      min-width: 300px;
      max-width: 500px;
      margin-top: 10px;
    }
    label {
      font-weight: 600;
      font-size: 20px;
    }
    button {
      padding: 10px 15px;
      border: none;
      /* border: none; */
      border-radius: 5px;
      margin: 10px 0px;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
